<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="custom-css" color="primary">
  <mat-toolbar-row>
    <span class="title_page">Mod</span>
    <span class="example-spacer"></span>
    <button mat-icon-button routerLink="/home" routerLinkActive="mat-accent">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/shop" routerLinkActive="mat-accent">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/plugins/add" routerLinkActive="mat-accent" *ngIf="user.isConnected">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <div *ngIf="!user.isConnected">
      <button mat-flat-button (click)="openDialogLogIn()" class="custom-logIn" color="accent">Log In</button>
      <button mat-flat-button (click)="openSignUpForm()" class="custom-button" style="margin-left:10px;" color="accent">Sign
        Up</button>
    </div>
    <div *ngIf="user.isConnected">
      <span>Bonjour {{user.actualUser.name}}</span>
      <button mat-icon-button class="example-icon" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
    <span></span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>