.example-spacer {
    flex: 1 1 auto;
}

.example-icon{
    margin-right: 10px;
}

/* .custom-css {
    background-color:#626D71;
  }

  .custom-button {
    background-color:#574343;
  }

  .router-link-active {
	color:#B38865;
	font-weight: bold;
}

.custom-sign-up{
    background-color: #B38867;
}
.custom-logIn{
    background-color: #CDCDC0;
}
*/
.title_page {
    font-family: 'Arial Black', Gadget, sans-serif;
}
