<mat-card class="example-card" style="margin-top: 20px;
padding-top: 13px;
padding-bottom: 1px; margin-right:8px;margin-left:8px;">
  <mat-card-content fxLayout="row wrap" fxLayoutWrap>
    <mat-form-field class="example-form-field" fxFlex="50%">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="text" placeholder="Search" [(ngModel)]="searchValue" (ngModelChange)="debounceSearch($event)">
      <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-chip-list fxFlex="50%" fxLayoutAlign="center">
      <mat-chip *ngFor="let category of categoriesSearch" selected  color="primary">
        {{category}}
        <mat-icon (click)="removeCategory(category)">close</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
<div *ngIf="!loading" class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div *ngFor="let plugin of plugins" fxFlex="30%">
    <app-card-plugin [plugin]="plugin" (onClickCategory)="searchByCategory($event)" (onClickDelete)="clickDeleteFinish($event)"></app-card-plugin>
  </div>
</div>
<div *ngIf="loading" style="margin-top:10px;" class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-spinner></mat-spinner>
</div>
<div style="margin-top: 10px; margin-bottom: 10px;" class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <button mat-flat-button color="primary" fxFlex="40%" (click)="morePlugins()" *ngIf="perPage < nbPlugins" >MORE PLUGINS</button>
</div>
