<h1 mat-dialog-title>Sign Up</h1>
<div mat-dialog-content>
    <p>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="login" placeholder="Login">
    </mat-form-field></p>
    <p>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="name" placeholder="Name">
    </mat-form-field></p>            
  <p>
  <mat-form-field>
    <input matInput type="password" [(ngModel)]="password" placeholder="Password">
  </mat-form-field></p>
  <p>
    <mat-form-field>
      <input matInput type="password" [(ngModel)]="passwordConfirm" placeholder="Confirm Password">
    </mat-form-field></p>
    <p>
    <mat-form-field>
            <input matInput type="text" [(ngModel)]="url" placeholder="Web Site URL">
    </mat-form-field></p>    
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="warn">Close</button>
  <button mat-button (click)="clickSign()" cdkFocusInitial color="primary"
   [disabled]="!password || !login || !name || !url || !passwordConfirm">Sign Up</button>
</div>

