.card-plugin{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #3F515F;
    color: white;
}

.mat-card-title{
    font-family: 'Arial Black', Gadget, sans-serif;
}

.white .mat-form-field-label-wrapper{
    color:white !important;
}