<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card class="card-plugin" fxFlex="80%">
        <mat-card-header class="custom-card">
            <mat-card-title class="font_style">Update Audio Plugin : {{plugin.creatorName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="colmun wrap" fxLayoutWrap>
            <app-form-plugin [plugin]="plugin" [btnLabelValidate]="'Update plugin'" (submit)="updatePlugin($event)"></app-form-plugin>
        </mat-card-content>
    </mat-card>
</div>