<h1 mat-dialog-title>Log In</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="login" placeholder="Login">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" [(ngModel)]="password" placeholder="Password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="warn">Close</button>
  <button mat-button (click)="clickLogin()" cdkFocusInitial color="primary" 
    [disabled]="!password || !login">Log In</button>
</div>