<div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div *ngFor="let plugin of plugins" fxFlex="30%">
    <app-card-plugin [plugin]="plugin"></app-card-plugin>
  </div>
</div>
<div style="margin-top: 10px; margin-bottom: 10px;" class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <button mat-flat-button color="primary" fxFlex="30%" routerLink="/shop">GO TO PLUGIN SHOP</button>
</div>