<mat-card class="example-card" class="card-plugin">
  <mat-card-header>
    <mat-card-title class="font_style">{{plugin.creatorName}}</mat-card-title>
  </mat-card-header>
  <img style="margin-left: auto; margin-right: auto; display:block; max-width: 100%;
  height: auto;" mat-card-image
    src="{{plugin.thumbnail}}">
  <mat-card-content fxLayout="colmun wrap" fxLayoutWrap>
    <mat-chip-list fxFlex="100%" fxLayoutAlign="center">
      <mat-chip *ngFor="let category of plugin.categories" selected color="accent" (click)="clickOnCategory(category)">{{category}}</mat-chip>
    </mat-chip-list>
    <p fxFlex="100%" class="font_description">
      {{plugin.shortDescription.substr(0,30) + ((plugin.shortDescription.length > 30)?'...':'')}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="['/plugins/details', plugin._id]">
      <button mat-flat-button color="accent">DETAILS</button>
    </a>
    <button mat-button *ngIf="user.isConnected && user.actualUser._id === plugin.vendor._id" (click)="deletePlugin(plugin)">
      <mat-icon color="accent">delete_sweep</mat-icon>
    </button>
    <a [routerLink]="['/plugins/update', plugin._id]">
      <button mat-button *ngIf="user.isConnected && user.actualUser._id === plugin.vendor._id">
        <mat-icon color="accent">edit</mat-icon>
      </button>
    </a>
  </mat-card-actions>
</mat-card>